{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["react-css-modules", {
      "webpackHotModuleReloading": true,
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
