.example-enter {
	opacity: 0.01;
	transform: translatey(-100%);
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms, transform 500ms;
	transform: translatey(0%);
}

.example-exit {
	opacity: 1;
	transform: translatey(0%);
}

.example-exit.example-exit-active {
	opacity: 0.01;
	transform: translatey(100%);
	transition: opacity 500ms, transform 500ms;
}

/**--- example styles ---**/
body {
	padding: 0;
	margin: 1em;
}

[class="container"] { //prevent clash with Bootstrap Container.. But I should figure out how to scope them damnit
	position: fixed;
	bottom: 0;
}

.notifications > * {
	padding: 8px 16px;
	color: white;
	background-color: #0087ff;
	display: block;
	width: 100vw;
}
